/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}

@layer components {
  //

  .checkbox {
    @apply border border-solid  h-3 w-3;
  }
  .radio {
    @apply border border-solid  h-3 w-3;
  }
}
